# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
